<div class="p-3">
  <table
    mat-table
    [dataSource]="dataSource"
    class="w-100 mat-elevation-z8"
    *ngIf="dataSource.length"
  >
    <ng-container matColumnDef="logAction">
      <th mat-header-cell *matHeaderCellDef>Log Action</th>
      <td mat-cell *matCellDef="let element">{{ element.action }}</td>
    </ng-container>
    <ng-container matColumnDef="actedOn">
      <th mat-header-cell *matHeaderCellDef>Acted On</th>
      <td mat-cell *matCellDef="let element">{{ element.actedOn }}</td>
    </ng-container>
    <ng-container matColumnDef="actionKey">
      <th mat-header-cell *matHeaderCellDef>Action Key</th>
      <td mat-cell *matCellDef="let element">{{ element.actionKey }}</td>
    </ng-container>
    <ng-container matColumnDef="before">
      <th mat-header-cell *matHeaderCellDef>Before</th>
      <td mat-cell *matCellDef="let element">{{ element.before }}</td>
    </ng-container>
    <ng-container matColumnDef="after">
      <th mat-header-cell *matHeaderCellDef>After</th>
      <td mat-cell *matCellDef="let element">{{ element.after }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-primary" (click)="openDialog(element)">
          View
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div
    class="mt-3 p-3 text-center alert alert-danger"
    *ngIf="!dataSource.length"
  >
    No records found
  </div>
</div>
