.invite-user-container {
    display: flex;
    justify-content: center;
    height: 100vh;

    .invite-row {
        min-width: 550px;
    }

    .mat-button-toggle-checked {
        background-color: #0d6efd;
        color: white;
    }
}

// This will generate unwanted results!
@media (max-width: 550px) {
    .invite-user-container {
        .invite-row {
            min-width: 100%;
        }
    }
}